{
    "presets": [
       "@babel/preset-env",
       "@babel/preset-react"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
    ]
}

            // "presets": [
            //     "env",
            //     "react"
            // ],
    // "plugins": [
    //     "transform-class-properties",
    //     "transform-obejct-rest-spread"
    // ],




    // "plugins": [
    //     "transform-object-rest-spread",
    //     "transform-class-properties"
    // ]