li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.navContainer {
    background: #001638;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navWrapper{
    width: 1400px;
    max-width: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.leftNav,.rightNav{
    display: flex;
}
.leftNav li{
    /* padding-left: 20px; */
    padding-right: 20px;
}
.leftNav li a{
    color: white;
    font-size: 20px;
}
.rightNav li {
    padding-left: 20px;
}
.searchContainer{
    width: 450px;
  height: auto;
  background-color: #004b91;
/*   margin: 20vh auto; */
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(-50%, -10%);
  border-radius: 4rem;
  /* padding: 10px; */
  /* margin-bottom: 30px; */
}
.search__box {
  float: left;
  width: 0;
  /* height: 4rem; */
/*   display: inline; */
  background: none;
  color: #f7f7f7;
  font-size: 1.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  position: relative;
  opacity: 1;
  transition: all .75s ease-in;
  cursor: pointer;
/*   border: 2px solid tomato; */
/*   margin-top: 5px; */
}
.searchIcon{
    box-sizing: border-box;
  float: right;
  font-size: 3rem;
  display: inline-block;
/*   justify-content: center;
  align-items: center; */
  margin-left: -12rem;
  margin-top: 0;
  cursor: pointer;
  position: absolute;
  color: #fa983a;
  transition: all .25s ease-in;
  padding: .7rem;
  border-radius: 50%;
}

.searchContainer:hover> .search__box{
    width: 85%;
    padding:0 1rem;
}

.searchContainer:hover > .searchIcon{
    background-color: #eee;
    margin-left: 0rem;
}


.glow-on-hover {
    width: 140px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #93c5e7;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border: 2px solid white;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(1, 3, 112);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.form{
    display: flex;
    flex-direction: column;
}